<h1>Login to your Account</h1>

<form action="/user" method="POST" class="auth-form">
  <input type="email" name="email" placeholder="Email" />
  <input type="password" name="password" placeholder="Password" />
  <input type="submit" value="Sign Up" class="btn" />
</form>