
<form action="/recipe" method="post">
    <textarea type="text" name="recipe[title]" placeholder="type your recipe"></textarea>
    <input type="text" name="author" placeholder="who are you">
    <input type="submit">
</form>